apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: terraform-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/<our-username>/<our-repo>.git
    targetRevision: main
    path: manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
